@charset "UTF-8";
/* CSS Document */

body { /*for rems*/
	font-size: 16pt;
}
.center-block { /*for centering*/
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}
.hidden-lg { /*for resizing*/
	display: none;
}
/*==============TYPOGRAPHY===============*/
* {
	font-family: 'Open Sans', sans-serif;
	color: #563A19; /*brown*/
}
h2 {
	font-size: 3rem;
	font-weight: bold;
}
h3 {
	font-size: 1.875rem;
	font-weight: bold;
}
.p-about {
	font-size: 1.4rem;
	line-height: 2.5rem;
	font-weight: 400;
	margin-bottom: 3.125rem;
}
#blockquote {
	color: #E8DACB; /*beige*/
	padding-top: 18.75rem;
	padding-left: 1.75rem;
	margin-bottom: 0;
}
cite {
	color: #E8DACB; /*beige*/
	float: left;
	margin-left: 250px;
}
/*==============TYPOGRAPHY===============*/

/*===============NAV BAR==================*/
#header {
	width: 100%;
	height: 6.5625rem;
	background-color: #E8DACB; /*beige*/
}
nav li {
	display: inline-block;
	font-size: 1.3rem;
	margin-right: 1rem;
}
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
nav ul {
	position: relative;
	bottom: 5.8125rem;
	left: 50rem;
}
a {
	color: #563A19;
	text-decoration: none;
}
a:hover {
	color: #971E1F; /*red*/
}
#logo {
	width: 4.78125rem;
	height: 6.1875rem;
	margin-left: 10.8125rem;
}
/*===============NAV BAR==================*/

/*===============HERO=====================*/
#hero {
	background-image: url(../../graphics/coffee-treats-book-resized.png);
	width: 64rem;
	height: 42.6875rem;
	position: relative;
	bottom: 1.3125rem;
}
/*===============HERO====================*/

/*===============ROASTS====================*/
.roast-pull-right {
	margin-left: 17.1875rem;
}
.roast-center {
	margin-left: 413.250px;
}
/*===============ROASTS====================*/
/*==============RESPONSIVE GRID===============*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	Width: 80%;
	margin: 0 auto;
}
.row {
	width: 100%;
	padding-bottom: 1.25rem;
	padding-right: 3.125rem;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	padding: 0 1.25rem 1.25rem 0;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
.col-1-12 {
	width: 8.33%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-10 {
	width: 10%;
}
.col-1-9 {
	width: 11.11%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-7 {
	width: 14%;
}
.col-1-6 {
	width: 16.6%;
}
.col-1-5 {
	width: 20%;
}
.col-1-4 {
	width: 25%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}
.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-5-6 {
	width: 83.33%;
}
.col-1-1 {
	width: 100%;
}

@media screen and (max-width:768px) {
.col-1-12 {
	width: 25%;
}
.col-1-11 {
	width: 33.33%;
}
.col-1-10 {
	width: 25%;
}
.col-1-9 {
	width: 33.33%;
}
.col-1-8 {
	width: 25%;
}
.col-1-7 {
	width: 25%;
}
.col-1-6 {
	width: 33.33%;
}
.col-1-5 {
	width: 33.33%;
}
.col-1-4 {
	width: 50%;
}
.col-1-3 {
	width: 50%;
}
.col-1-2 {
	width: 50%;
}
.col-1-1 {
	width: 100%;
}
}
/*==============RESPONSIVE GRID===============*/
